Repository edunad/rawrbox, pull requests merged in 2023-09, with the labels that each got.

#86 Add socket server / client to network
  network/include/rawrbox/network/socket.hpp
  network/src/socket.cpp
Labels: FEATURE

#87 Add zlib utils
  network/include/rawrbox/network/utils/zlib.hpp
  network/src/utils/zlib.cpp
Labels: FEATURE

#90 General improvements / bugfixes
  assimp/include/rawrbox/assimp/model.hpp
  assimp/patches/assimp.patch
  assimp/src/model.cpp
  engine/include/rawrbox/engine/static.hpp
  render/include/rawrbox/render/camera/orbital.hpp
  render/include/rawrbox/render/model/skeleton.hpp
  render/src/camera/orbital.cpp
  render/src/model/model.cpp
  samples/002-generated-models/src/game.cpp
  utils/src/settings.cpp
Labels: 📷 RENDERER, ⚒️ UTILS, 🐲 SAMPLES, FEATURE, 💽 ENGINE, 🧙‍♂️ ASSIMP

#92 Fix zlib warnings
  CMakeLists.txt
Labels: BUG

#91 [Feature] Blend shapes
  CMakeLists.txt
  README.md
  assimp/include/rawrbox/assimp/importer.hpp
  assimp/include/rawrbox/assimp/model.hpp
  assimp/patches/assimp.patch
  assimp/src/importer.cpp
  assimp/src/model.cpp
  math/include/rawrbox/math/utils/math.hpp
  math/include/rawrbox/math/vector2.hpp
  math/include/rawrbox/math/vector3.hpp
  math/src/utils/math.cpp
  math/tests/math_utils.spec.cpp
  rawrbox.svg
  render/CMakeLists.txt
  render/include/rawrbox/render/model/base.hpp
  render/include/rawrbox/render/model/defs.hpp
  render/include/rawrbox/render/model/model.hpp
  render/shaders/materials/model/varying.def.sc
  render/shaders/materials/model/vs_clustered_skinned_base.sc
  render/src/materials/skinned_lit.cpp
  render/src/model/base.cpp
  render/src/model/model.cpp
  samples/003-assimp/include/assimp/game.hpp
  samples/003-assimp/src/game.cpp
  samples/content/models/shape_keys/shape_keys.glb
  utils/include/rawrbox/utils/pack.hpp
  utils/src/pack.cpp
  utils/tests/pack.spec.cpp
Labels: 📷 RENDERER, 🧮 MATH, ⚒️ UTILS, 🐲 SAMPLES, 🧪 TESTS, FEATURE, 🧙‍♂️ ASSIMP

#94 Shader & UI improvements
  CMakeLists.txt
  cmake/rawrbox_utils.cmake
  render/CMakeLists.txt
  render/include/rawrbox/render/model/base.hpp
  render/src/model/base.cpp
  render/src/stencil.cpp
  render/src/texture/atlas.cpp
  ui/include/rawrbox/ui/container.hpp
  ui/src/container.cpp
Labels: 📷 RENDERER, 🖼️ UI, FEATURE

#95 Cleanup
  README.md
  render/include/rawrbox/render/resources/font.hpp
  render/include/rawrbox/render/text/engine.hpp
  render/include/rawrbox/render/text/font.hpp
  render/include/rawrbox/render/texture/pack.hpp
  render/src/resources/font.cpp
  render/src/text/engine.cpp
  render/src/text/font.cpp
  render/src/texture/pack.cpp
  utils/src/pack.cpp
Labels: 📷 RENDERER, ⚒️ UTILS, IMPROVEMENTS

#97 Improve mesh generation as it contained invalid indices
  render/include/rawrbox/render/model/utils/mesh.hpp
  render/src/model/utils/mesh.cpp
  samples/002-generated-models/src/game.cpp
Labels: 📷 RENDERER, 🐲 SAMPLES, IMPROVEMENTS

#99 Aniamted WEBP support
  README.md
  render/CMakeLists.txt
  render/include/rawrbox/render/texture/animated.hpp
  render/include/rawrbox/render/texture/base.hpp
  render/include/rawrbox/render/texture/gif.hpp
  render/include/rawrbox/render/texture/webp.hpp
  render/include/stb/image.hpp
  render/src/resources/texture.cpp
  render/src/texture/animated.cpp
  render/src/texture/base.cpp
  render/src/texture/gif.cpp
  render/src/texture/image.cpp
  render/src/texture/webp.cpp
  samples/001-stencil/include/stencil/game.hpp
  samples/001-stencil/src/game.cpp
  samples/content/textures/cawt.webp
Labels: 📷 RENDERER, 🐲 SAMPLES, FEATURE

#100 Add rawrbox intro
  render/content/textures/rawrbox.webp
  render/include/rawrbox/render/stencil.hpp
  render/include/rawrbox/render/texture/animated.hpp
  render/include/rawrbox/render/window.hpp
  render/src/camera/base.cpp
  render/src/stencil.cpp
  render/src/texture/animated.cpp
  render/src/texture/gif.cpp
  render/src/texture/webp.cpp
  render/src/window.cpp
  samples/001-stencil/src/game.cpp
  samples/002-generated-models/src/game.cpp
  samples/003-assimp/src/game.cpp
  samples/004-light-support/src/game.cpp
  samples/005-post-process/src/game.cpp
  samples/006-bass-loading/src/game.cpp
  samples/007-particle-system/src/game.cpp
  samples/008-ui/src/game.cpp
  samples/009-physics-3d/src/game.cpp
  samples/010-instancing/src/game.cpp
  samples/011-decals/src/game.cpp
  samples/012-webm/src/game.cpp
  samples/013-physics-2d/src/game.cpp
  samples/014-scripting/src/game.cpp
Labels: 📷 RENDERER, 🐲 SAMPLES

#101 some private/public changes and small fixes
  cmake/cpm.cmake
  package-lock.cmake
  render/include/rawrbox/render/model/model.hpp
  render/src/model/mesh.cpp
  samples/012-webm/src/game.cpp
  webm/include/rawrbox/webm/decoder.hpp
  webm/include/rawrbox/webm/loader.hpp
  webm/include/rawrbox/webm/texture/webm.hpp
  webm/src/decoder.cpp
  webm/src/loader.cpp
  webm/src/resources/webm.cpp
  webm/src/texture/webm.cpp
Labels: 📷 RENDERER, 🐲 SAMPLES, FEATURE, 🎞 WEBM

#105 add std::min/max to vector classes
  math/include/rawrbox/math/vector2.hpp
  math/include/rawrbox/math/vector3.hpp
  math/include/rawrbox/math/vector4.hpp
  scripting/src/wrappers/math/vector2_wrapper.cpp
  scripting/src/wrappers/math/vector3_wrapper.cpp
  scripting/src/wrappers/math/vector4_wrapper.cpp
Labels: 🧮 MATH, FEATURE, 📜 SCRIPTING
