Repository edunad/rawrbox, pull requests merged in 2023-08, with the labels that each got.

#57 Bugfixes & Improvements
  render/include/rawrbox/render/model/model.hpp
  render/include/rawrbox/render/model/spline.hpp
  ui/include/rawrbox/ui/elements/graph.hpp
  ui/src/elements/graph.cpp
Labels: 📷 RENDERER, 🖼️ UI

#66 Add atlas support to meshes
  render/include/rawrbox/render/model/mesh.hpp
  render/shaders/include/material.sh
  render/shaders/materials/decal/fs_decal_base.sc
  render/shaders/materials/decal/vs_decal_base.sc
  render/shaders/materials/model/fs_clustered_base.sc
  render/shaders/materials/model/fs_clustered_unlit_base.sc
  render/shaders/materials/model/vs_clustered_base.sc
  render/shaders/materials/model/vs_clustered_instance_base.sc
  render/shaders/materials/model/vs_clustered_instance_unlit_base.sc
  render/shaders/materials/model/vs_clustered_skinned_base.sc
  render/shaders/materials/model/vs_clustered_skinned_unlit_base.sc
  render/shaders/materials/model/vs_clustered_unlit_base.sc
  render/shaders/materials/particles/vs_particle.sc
  render/src/materials/base.cpp
  render/src/model/mesh.cpp
  samples/001-stencil/include/stencil/game.hpp
  samples/001-stencil/src/game.cpp
  samples/002-generated-models/src/game.cpp
Labels: 📷 RENDERER, 🐲 SAMPLES, FEATURE

#71 Networking lib
  CMakeLists.txt
  RAWBOX - Dependencies.drawio
  RAWBOX - Dependencies.svg
  README.md
  bass/CMakeLists.txt
  cmake/rawrbox_utils.cmake
  network/CMakeLists.txt
  network/include/rawrbox/network/http.hpp
  network/include/rawrbox/network/scripting/plugin.hpp
  network/include/rawrbox/network/scripting/wrappers/http_wrapper.hpp
  network/lua/http.lua
  network/src/http.cpp
  network/src/scripting/wrappers/http_wrapper.cpp
  render/CMakeLists.txt
  render/include/rawrbox/render/light/base.hpp
  render/src/utils/render.cpp
  resources/include/rawrbox/resources/scripting/plugin.hpp
  resources/include/rawrbox/resources/scripting/wrappers/resources_wrapper.hpp
  resources/src/scripting/wrappers/resources_wrapper.cpp
  samples/001-stencil/CMakeLists.txt
  samples/002-generated-models/CMakeLists.txt
  samples/003-assimp/CMakeLists.txt
  samples/004-light-support/CMakeLists.txt
  samples/005-post-process/CMakeLists.txt
  samples/006-bass-loading/CMakeLists.txt
  samples/007-particle-system/CMakeLists.txt
  samples/008-ui/CMakeLists.txt
  samples/009-physics-3d/CMakeLists.txt
  samples/010-instancing/CMakeLists.txt
  samples/011-decals/CMakeLists.txt
  samples/012-webm/CMakeLists.txt
  samples/013-physics-2d/CMakeLists.txt
  samples/014-scripting/CMakeLists.txt
  samples/CMakeLists.txt
  scripting/CMakeLists.txt
  scripting/src/scripting.cpp
  ui/CMakeLists.txt
  utils/CMakeLists.txt
  webm/CMakeLists.txt
Labels: 📷 RENDERER, 🖼️ UI, ⚒️ UTILS, 🐲 SAMPLES, FEATURE, 🎺 BASS, 💼 RESOURCES, 📜 SCRIPTING, 🎞 WEBM

#72 Fix github cache
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  RAWBOX - Dependencies.drawio
  RAWBOX - Dependencies.svg
  rawrbox.code-workspace
Labels: BUG

#75 Add missing cpp files
  render/include/rawrbox/render/light/point.hpp
  render/include/rawrbox/render/light/spot.hpp
  render/include/rawrbox/render/model/base.hpp
  render/include/rawrbox/render/model/instanced.hpp
  render/include/rawrbox/render/model/model.hpp
  render/include/rawrbox/render/model/spline.hpp
  render/include/rawrbox/render/model/sprite.hpp
  render/include/rawrbox/render/model/utils/mesh.hpp
  render/include/rawrbox/render/particles/emitter.hpp
  render/include/rawrbox/render/particles/system.hpp
  render/src/light/point.cpp
  render/src/light/spot.cpp
  render/src/model/base.cpp
  render/src/model/instanced.cpp
  render/src/model/model.cpp
  render/src/model/spline.cpp
  render/src/model/sprite.cpp
  render/src/model/utils/mesh.cpp
  render/src/particles/emitter.cpp
  render/src/particles/system.cpp
  samples/007-particle-system/src/game.cpp
Labels: 📷 RENDERER, 🐲 SAMPLES

#76 Add settings utils
  resources/CMakeLists.txt
  scripting/CMakeLists.txt
  utils/CMakeLists.txt
  utils/include/rawrbox/utils/settings.hpp
  utils/src/settings.cpp
Labels: ⚒️ UTILS, FEATURE, 💼 RESOURCES, 📜 SCRIPTING

#77 Add console
  render/include/rawrbox/render/text/font.hpp
  render/include/rawrbox/render/text/markdown.hpp
  render/shaders/stencil/text/fs_stencil_text.sc
  render/src/text/engine.cpp
  render/src/text/font.cpp
  render/src/text/markdown.cpp
  samples/001-stencil/include/stencil/game.hpp
  samples/001-stencil/src/game.cpp
  samples/008-ui/include/ui_test/game.hpp
  samples/008-ui/src/game.cpp
  samples/013-physics-2d/src/game.cpp
  ui/include/rawrbox/ui/container.hpp
  ui/include/rawrbox/ui/elements/console.hpp
  ui/include/rawrbox/ui/static.hpp
  ui/src/container.cpp
  ui/src/elements/console.cpp
  ui/src/elements/graph.cpp
  ui/src/root.cpp
  ui/src/static.cpp
  utils/include/rawrbox/utils/console.hpp
  utils/src/console.cpp
  utils/src/thread_utils.cpp
  utils/tests/console.spec.cpp
Labels: 📷 RENDERER, 🖼️ UI, ⚒️ UTILS, 🐲 SAMPLES, 🧪 TESTS, FEATURE

#78 Add network packet
  README.md
  network/CMakeLists.txt
  network/include/rawrbox/network/packet.hpp
  network/include/rawrbox/network/scripting/plugin.hpp
  network/include/rawrbox/network/scripting/wrappers/packet_wrapper.hpp
  network/src/packet.cpp
  network/src/scripting/wrappers/packet_wrapper.cpp
  render/include/rawrbox/render/scripting/wrappers/model/instance_wrapper.hpp
  render/src/scripting/wrappers/model/instance_wrapper.cpp
Labels: 📷 RENDERER, FEATURE

#81 Add i18n
  .vscode/settings.json
  samples/014-scripting/mods/test-mod/i18n/en.json
  samples/014-scripting/mods/test-mod/i18n/pt.json
  samples/014-scripting/mods/test-mod/init.lua
  scripting/include/rawrbox/scripting/scripting.hpp
  scripting/include/rawrbox/scripting/wrappers/i18n_wrapper.hpp
  scripting/src/scripting.cpp
  scripting/src/wrappers/i18n_wrapper.cpp
  utils/include/rawrbox/utils/i18n.hpp
  utils/src/i18n.cpp
  utils/tests/i18n.spec.cpp
Labels: ⚒️ UTILS, 🐲 SAMPLES, 🧪 TESTS, FEATURE, 📜 SCRIPTING

#84 Fix timer crashing
  samples/014-scripting/src/game.cpp
  utils/src/timer.cpp
Labels: ⚒️ UTILS, 🐲 SAMPLES, BUG

#85 General improvements
  .github/workflows/build.yml
  CMakeLists.txt
  README.md
  assimp/CMakeLists.txt
  assimp/include/rawrbox/assimp/model.hpp
  network/CMakeLists.txt
  package-lock.cmake
  rawrbox.code-workspace
  render/include/rawrbox/render/materials/base.hpp
  render/include/rawrbox/render/texture/base.hpp
  render/src/materials/base.cpp
  render/src/materials/decal.cpp
  render/src/materials/lit.cpp
  render/src/texture/base.cpp
  samples/003-assimp/src/game.cpp
  samples/012-webm/src/game.cpp
  samples/014-scripting/CMakeLists.txt
  samples/014-scripting/include/scripting_test/game.hpp
  samples/014-scripting/mods/bad-apple/init.lua
  samples/014-scripting/mods/test-mod/init.lua
  samples/014-scripting/src/game.cpp
  ui/CMakeLists.txt
  utils/CMakeLists.txt
  utils/include/rawrbox/utils/progressive_mesh.c
  utils/tests/qhull.spec.cpp
  webm/include/rawrbox/webm/loader.hpp
  webm/include/rawrbox/webm/texture/webm.hpp
  webm/src/loader.cpp
  webm/src/texture/webm.cpp
Labels: 📷 RENDERER, 🖼️ UI, ⚒️ UTILS, 🐲 SAMPLES, 🧪 TESTS, IMPROVEMENTS, 🎞 WEBM, 🧙‍♂️ ASSIMP
